@using PagedList.Mvc
@model PagedList.IPagedList<RolandDG.Web.ViewModels.Product.VinylCutterViewModel>    

@{
    ViewBag.Title = "Cutters";
}         

<h2>@ViewBag.Title</h2>

@foreach (var cutter in Model)
{
    <div class="row">
        <div class="col-md-7">
            <a href="@Url.Action("Cutter", "Product",  new { cutter.Id }, null)">
                <img class="img-fluid rounded mb-3 mb-md-0" src="~/Images/cutters1.jpg" style="width: 100%" alt="">
            </a>
        </div>
        <div class="col-md-5">
            <h3>Roland @cutter.Model</h3>
            <p>Category: @cutter.ProductType</p>
            <a class="btn btn-primary" href="@Url.Action("Cutter", "Product",  new { cutter.Id }, null)">View Product</a>
        </div>

    </div>
    <hr />
}

<div align="center">
    @Html.PagedListPager(Model, page => Url.Action("Cutters", new { page }))
</div>