@using PagedList.Mvc
@model PagedList.IPagedList<RolandDG.Web.ViewModels.Product.PrinterViewModel>

@{
    ViewBag.Title = "Printers";
}

<h2>@ViewBag.Title</h2>

@foreach (var printer in Model)
{
    <div class="row">    
        <div class="col-md-7">
            <a href="@Url.Action("Printer", "Product",  new { printer.Id }, null)">
                <img class="img-fluid rounded mb-3 mb-md-0" src="~/Images/printers.jpg" style="width: 100%" alt="">
            </a>
        </div>
        <div class="col-md-5">
            <h3>Roland @printer.Model</h3>
            <p>Category: @printer.ProductType</p>
            <a class="btn btn-primary" href="@Url.Action("Printer", "Product",  new { printer.Id }, null)">View Product</a>
        </div>
      
    </div>
    <hr/>
}

<div align="center">
    @Html.PagedListPager(Model, page => Url.Action("Printers", new { page }))
</div>

