@model RolandDG.Web.ViewModels.Product.ProductViewModel
<h3 class="centerText">
    <span>All printers</span>
    <button id="refreshButton" class='btn btn-default pull-right'>Refresh</button>
</h3>
<hr />
<div class="table-responsive">
    <table id="computersTable" class="table table-hover">
        <thead>
            <tr>
                <th>Category</th>
                <th>Model</th>
                <th>Cutting Speed</th>
                <th>Blade Force</th>
                <th>Media Width</th>
                <th>See Cutter</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cutter in Model.VinylCuttersCollection)
            {
                string deviceType = cutter.GetType().Name
                    .Split(new string[] { "ViewModel" },
                    StringSplitOptions.RemoveEmptyEntries)[0];

                <tr>
                    <td>@deviceType</td>
                    <td>@cutter.Model</td>
                    <td>@Html.DisplayFor(x => cutter.CuttingSpeed)</td>
                    <td>@Html.DisplayFor(x => cutter.BladeForce) mm</td>
                    <td>@cutter.MediaWidth mm</td>
                    @{
                        string adLink = string.Format("/product/{0}/{1}", "cutter", cutter.Id);
                        string editLink = string.Format("/product/update{0}/{1}", "cutter", cutter.Id);
                    }
                    <td>
                        <a class="btn btn-default" target="_blank" href="@adLink">
                            <span class="glyphicon glyphicon-search"></span>
                        </a>
                    </td>
                    <td>
                        @Ajax.ActionLink("EDIT", "UpdateCutter", "Admin", new { cutter.Id }, new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "content" })
                        <a class="btn btn-primary" target="_blank" href="@editLink">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                    </td>

                    <td>
                        @Ajax.ActionLink("X", "Index", "Admin",
                                                new { type = deviceType, id = cutter.Id },
                                                new AjaxOptions { HttpMethod = "POST" },
                                                new { @class = "btn btn-danger" })
                </tr>
                        }
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function () {
        $('#content').DataTable();
    });

    $(".btn-danger").on('click', (event) => {
        let el = $(event.target);
        el.parent().parent().remove();
    });

    $('#refreshButton').on('click', () => {
        let url = '/admin/admin/cutters';
        content.load(url);
    })
</script>

