@model ICollection<RolandDG.Web.ViewModels.Manage.UserViewModel>
<h3 class="centerText">
    <span>All users</span>
    <button id="refreshButton" class='btn btn-default pull-right'>Refresh</button>
</h3>
<hr />
<div class="table-responsive">
    <table id="usersTable" class="table table-hover">
        <thead>
            <tr>
                <th>User</th>
                <th>Type</th>
                <th>Modified On</th>
                <th>Created On</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Email</td>
                    <td>@user.UserType</td>
                    <td>@user.ModifiedOn</td>
                    <td>@user.CreatedOn</td>
                    <td>
                        
                           @Ajax.ActionLink("Edit", "UpdateUser", "Admin", new {id = user.Id}, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "admin-container"})
                            <span class="glyphicon glyphicon-pencil"></span>
                       
                    </td>

                    <td>
                        @Ajax.ActionLink("X", "Index", "Admin",
                                        new { type = "User", id = user.Id },
                                        new AjaxOptions { HttpMethod = "POST" },
                                        new { @class = "btn btn-danger" })
                </tr>
            }
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function () {
        $('#content').DataTable();
    });

    $(".btn-danger").on('click', (event) => {
        let el = $(event.target);
        el.parent().parent().remove();
    });

    $('#refreshButton').on('click', () => {
        let url = '/admin/admin/users';
        content.load(url);
    })
</script>